* {
  font-family: Nunito;
}
.body { 
  margin: 0; overflow: hidden; background-color: black;
}
canvas { 
  display: block;
 }
.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}